---
layout: blog.njk
title: "Blog post1 title"
description: "Donec id elit non mi porta gravida at eget metus."
blogTitle: "Morbi leo risus, porta ac consectetur ac, vestibulum at eros."
date: "2017-04-24"
author: Magna Etiam
image:
  src: ""
  alt: ""
  aspectRation: "56.25"
tags: Sem Risus Magna
featuredBlogpost: true
featuredBlogpostOrder: 3
---
Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est at lobortis.