{% extends "layout.njk" %}

{% block body %}
  <section class="main-content">

  {{ latestBlogPosts | dump | safe }}
  {{ featuredBlogPosts | dump | safe }}
  {{ allSortedBlogPosts | dump | safe }}
  {{ annualizedBlogPosts | dump | safe }}

  <p>Local JSON Test</p>
  {{ localJson | dump | safe }}
  <p>Local YAML Test</p>
  {{ localYamlTest | dump | safe }}
  <p>Local TOML Test</p>
  {{ localTomlTest | dump | safe }}
  <p>Local mixed Folder Test</p>
  {{ localMixedFolder | dump | safe }}
  <p>External Folder Test</p>
  {{ extFolderTest | dump | safe }}
  <p>External Mixed Folder Test</p>
  {{ extMixedFolder | dump | safe }}
  <p>External JSON Test</p>
  {{ extJsonTest | dump | safe }}
  <p>External TOML Test</p>
  {{ extToml | dump | safe }}
   <p>External YAML Test</p>
  {{ extYamlTest | dump | safe }}
  <p>Site Data</p>
  {{ site | dump | safe }}

  {#
  <section>
    <h2>All blogposts:</h2>
    <ul>
      {% for post in featuredBlogPosts %}
      <li>
        <a href="/{{post.path}}">{{post.title}}</a>
        <p>{{post.date | blogDate}}
        <p>{{post.author}}</p>
      </li>
      {% endfor%}
    </ul>
  </section>
  #}

    <div class="container">
      {{ contents | safe }}

      {{ sections.content | md | safe }}
    </div>
  </section>
{% endblock %}